/* Contactus.css */
.contact-container {
  background-color: white;
  padding: 20px;
  color: black;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
input {
    max-width: 300px;
}
.contact-form-container {
  /* width: 40%; */
}

.contact-info-container {
  /* width: 45%; */
}

.section-heading {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  color: black;
  font-size: 18px;
}

.form-label {
  color: black;
  font-size: 20px;
}

.form-input {
  width: 100%;
  padding: 6px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: black;
  box-sizing: border-box;
  font-size: 14px;
}

.form-textarea {
  height: 150px;
  resize: vertical;
}

.submit-button {
  background-color: rgb(76, 83, 90);
  color: white;
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
}

.contact-text {
  font-size: 20px;
}

.map-container {
  width: 75%;
  height: 320px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 25%;
}

.map-iframe {
  border: 0;
  width: 100%;
  height: 100%;
}