/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header-container {
    background-color: #4e3f3f; /* Adjust the color to match your navbar */
    
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .header-title {
    
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'ui-sans-serif';
    line-height: 65px;
    font-weight: 700;
  }
  